<footer class="footer bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p class="mt-3">We harness technology to help businesses excel in the digital era, with innovative solutions that are the backbone of our clients' success.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled mt-3">
                    <li><a href="{% url 'home' %}" class="footer-link">Home</a></li>
                    <li><a href="{% url 'home' %}#aboutus-component" class="footer-link">About Us</a></li>
                    <li><a href="{% url 'home' %}#services-component" class="footer-link">Services</a></li>
                    <li><a href="{% url 'home' %}#contact-section" class="footer-link">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="footer-link">+1 123 456 7890</a></li>
                    <li><a href="#" class="footer-link">info@yourcompany.com</a></li>
                    <li><a href="#" class="footer-link">123 Tech Ave, Silicon Valley, CA</a></li>
                </ul>
                <div class="social-links mt-3">
                    <a href="#" class="social-icon pr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon pr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon pr-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-icon pr-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
